@use '../../styles/abstracts/mixins' as *;

.advice {
  --m-width: 34.5rem;
  --d-width: 54rem;

  background-color: var(--clr-neutral-dark-grayish-blue);
  max-width: var(--m-width);
  padding-top: 4rem;
  padding-inline: 2rem;
  padding-bottom: 6rem;
  border-radius: 1rem;
  position: relative;

  display: grid;
  justify-items: center;
  row-gap: 2rem;

  @include mq(md) {
    max-width: var(--d-width);

    padding-top: 5rem;
    padding-inline: 5rem;
    border-radius: 1.5rem;
    row-gap: 3rem;
  }
}

.title {
  color: var(--clr-prim-neon-green);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1rem;
  font-weight: var(--fw-800);

  @include mq(md) {
    font-size: 1.2rem;
  }
}

.text {
  font-size: var(--fs-quote);
  text-align: center;
  color: var(--clr-prim-light-cyan);
  font-weight: var(--fw-600);
  line-height: 1.4;

  @include mq(md) {
    max-width: 25ch;
    font-size: 2.7rem;
    font-weight: var(--fw-800);
  }
}

.button {
  all: unset;

  position: absolute;
  bottom: -32px;
  cursor: pointer;
}

.iconDiceWrapper {
  padding: 2rem;
  background-color: var(--clr-prim-neon-green);
  border-radius: 50%;

  display: grid;
  place-items: center;
}

.mobileSvg {
  @include mq(md) {
    display: none;
  }
}

.desktopSvg {
  display: none;
  @include mq(md) {
    display: block;
  }
}
